body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
	padding: 1rem;
	background-color: rgb(155, 160, 165);
}

header a {
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.active {
	background-color: rgb(102, 104, 105);
}

.container {
	text-align: center;
}

form label {
	display: block;
}

form input {
	border: 1px solid black;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
}

form input[type="submit"] {
	border: none;
    color: white;
    background: #9dbdba;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
	cursor: pointer;
}

form input[type="submit"]:hover {
    background: #6b8f8b;
}

form input::placeholder {
	text-transform: capitalize;
}

header h2 {
	display: inline;
    font-size: 1.4rem;
    color: #fff7f5;
    margin-right: 1rem;
}